body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

.tweet {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 5px;
    max-width: 50%;
    margin: 0 auto;
    background-color: #00000001;
    margin: 40px auto ;

  }
  
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
  }

  
  .content {
    flex: 1;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .name {
    font-weight: bold;
    margin-right: 6px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(24, 4, 28);
  }
  
  .username, h2 {
    color: #888;
    font-size: 16px;
    text-decoration: none;

  }
  
  

  .post-title{
    color: #888;
    font-size: 14px;
  }

  
  .actions {
    display: flex;
  }
  
  .like-button,  .retweet-button,  .delete-button {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #888;
    margin-right: 6px;
  }
  
  .like-button:hover{
    background-color: #72ec8b;
    border: 1px solid #38b050;
    color: white;
    cursor: pointer;
  }


  .like-button:active{
    background-color: #2d7f3e;
    border: 1px solid #38b050;
    color: white;
    cursor: pointer;
  }


  .retweet-button:hover {
    background-color: #eee;
    cursor: pointer;
  }
  

  .delete-button:hover {
    background-color: #ec9b8dbb;
    border: 1px solid #753e34;
    color: #753e34;
    cursor: pointer;
  }

  
  .load-btn{
    margin: 50px 45%;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border-style: none;
    background: blue;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .load-btn:hover{
    background: white;
    border: 2px solid blue;
    color: blue;
  }





  .like{
    color: #38b050;
    margin: 0 8px 0 0;
    padding: 0;
  }

  .retweet{
    color: #3844b0;
    margin: 0 8px 0 0;
    padding: 0;
  }

  .loader {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  display: block;
  height: 30px;
  width: 50%;
  margin: 10px auto;
  border-style: none;
  border: 1px solid #3498db95;
  border-radius: 5px;
}

textarea{
  height: 50px;
}
h2 {
  color: #888;
  font-size: 24px;
  font-weight: 700;

}


.create-mew-card-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.create-mew-card-btn:hover {
  background-color: #45a049;
}
